@{
    ViewBag.Title = "About Mission Connections";
}
<link href="~/Content/Proyecto1.css" rel="stylesheet" />
<section class="jumbotron" style="background-image: url('../../Content/leave.jpg');"id="MissionsJumbo">
    <h1 class="col-sm-12 text-center" id="jumbotitletwo"> About Mission Connections</h1>
</section>

<section class="container">
    <div class="row">
        <h1 cass="col-sm-12" style="font-family: 'High Tower Text'">Our Goal:</h1>
        <h2 class="col-sm-12 text-center" style="font-family: 'High Tower Text'">Our goal is to help future missionaries prepare for 
        their missions by giving them a means by which they can communicate with returned missionaries who have served in their mission. Ask questions.
        Get Answers. Prepare.</h2>
    </div>
</section>
