
@{
    ViewBag.Title = "Inspiring";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Proyecto1.css" rel="stylesheet" />
<section class="jumbotron" id="mishjumbo" style="background-image: url('../../Content/Prague.jpg');">
    <div class="container">
        <div class="row">
            <h2 class="col-sm-12 text-center" id="jumbotitletwo" style="padding-bottom: 2em!important;">Inspiring</h2>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <h3 class="col-sm-12 text-center" style="font-family:'High Tower Text'">Be a Missionary Today</h3>
        <div class="col-sm-12 text-center">
            <iframe width="570" height="415" src="https://www.youtube.com/embed/knYyMflxyuU"></iframe>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <figure class="col-sm-12 text-center" >
            <img class="inspirephoto" src="~/Content/missionarydef.jpg" /></figure>
        
        <figure class="col-sm-4">
            <img class="inspirephoto" src="~/Content/Happy-Sister-mormon-missionaries-thecitizen.com_.jpg" />
        </figure>
        <figure class="col-sm-4">
            <img class="inspirephoto" src="~/Content/IMG_2452 (1).JPG" />
        </figure>
        <figure class="col-sm-4">
            <img class="inspirephoto" src="~/Content/Happy-Missionaries.jpg" />
        </figure>

        
    </div>
</section>

